<div class="courses">
  <div class="container">
    <div class="course">
      <div class="row col-12">
        <div class="card" style="width: 18rem">
          <img
            src="../../../assets/img/math.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Math</h5>
            <p class="card-text"></p>
            <a
              href="https://www.youtube.com/channel/UCmTe6AzfR17JRCymQadVSOg"
              class="btn"
              target="-blank"
              >Go To</a
            >
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img
            src="../../../assets/img/web.jfif"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Web</h5>
            <p class="card-text"></p>
            <a href="https://elzero.org/" class="btn" target="-blank">Go To</a>
          </div>
        </div>
      </div>
      <div class="row col-12">
        <div class="card" style="width: 18rem">
          <img
            src="../../../assets/img/Science.jfif"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Science</h5>
            <p class="card-text"></p>
            <a href="https://www.khanacademy.org/science/" class="btn">Go To</a>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img
            src="../../../assets/img/history.jfif"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">History</h5>
            <p class="card-text"></p>
            <a href="https://www.history.com/" class="btn" target="-blank"
              >Go To</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
