<div class="about">
  <div class="container">
    <h3>Who We Are</h3>
    <p>
      The Glossary of Education Reform is a service of the Great Schools
      Partnership, a nonprofit school-support organization based in Portland,
      Maine. It is produced in collaboration with the Education Writers
      Association, a national professional organization for journalists and
      media professionals specializing in education, and the Nellie Mae
      Education Foundation, the largest philanthropy in New England focused
      exclusively on education.
    </p>
  </div>
</div>
