<h1 class="text-center text-info">add student</h1>
<div class="container col-md-6">
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <label for="">student name </label>
        <input type="text" #userName="ngModel" [(ngModel)]="object.name" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="">student level </label>
        <input type="text" #level="ngModel" [(ngModel)]="object.level" class="form-control" required>
      </div>
      <div *ngIf="level.valid && userName.valid">
        <button (click)="save()" class="btn btn-info btn-block w-50 mx-auto"> add </button>

      </div>
      <div *ngIf="level.invalid && userName.invalid">
        <button disabled class="btn btn-info btn-block w-50 mx-auto"> add </button>

      </div>
    </div>
  </div>
</div>
