/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("../src/assets/img/school2.jpg");
  background-size: cover;
  background-repeat: repeat;
  color: white;
}
.card {
  background-color: #333;
  color: white;
}
