<div class="activites">
  <div class="container">
    <div class="activ">
      <div class="row col-12">
        <div class="card" style="width: 18rem">
          <img
            src="../../../assets/img/bascketball.jfif"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">bascketball</p>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img
            src="../../../assets/img/football.jfif"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">football</p>
          </div>
        </div>
      </div>
      <div class="row col-12">
        <div class="card" style="width: 18rem">
          <img
            src="../../../assets/img/journalism.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">journalism</p>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img
            src="../../../assets/img/swiming.jfif"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">swiming</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
